<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 
    <property name="LOGS" value="./logs" />
 
    <appender name="Console"
        class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>
 
    <appender name="RollingFile"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/spring-boot-logger.log</file>
        <encoder
            class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
        </encoder>
 
        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>${LOGS}/archived/spring-boot-logger-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="SevereRollingFile"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/severe-logger.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <encoder
            class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
        </encoder>
 
        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>${LOGS}/archived/severe-logger-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!-- LOG everything at INFO level -->
    <!-- affiche dans la console les log de niveau INFO ou supérieur de l'ensemble de l'application (y compris ceux non créer par l'utilisateur). -->
    <root level="info">
        <appender-ref ref="Console" />
    </root>
     
    <!-- LOG "com.aymeric.*" at INFO level in the RollingFile and SevereRollingFile -->
    <!-- Insère dans les fichiers indiqués tout les logs de niveau INFO ou supérieur créer dans le package et sous package de com.aymeric. -->
    <!-- NOTE: dans le fichier server-logger ne seront inséré que le log de type WARN ou supérieur cf. ligne 39. -->
    <logger name="com.aymeric" level="info" additivity="false">
        <appender-ref ref="RollingFile" />
        <appender-ref ref="SevereRollingFile" />
    </logger>
    
    <!-- LOG "com.aymeric.*" at Debug level in the console -->
    <!-- Affiche dans la console tout les logs de niveau DEBUG créer dans le package et sous package de com.aymeric. -->
    <logger name="com.aymeric" level="debug" additivity="false">
        <appender-ref ref="Console" />
    </logger>
 
</configuration>

